body {
  background: #57487d;
  background: radial-gradient(circle at center, #57487d, #151718);
  background-image: url(background.jpeg);
  min-height: 100vh; /* Asegura que el body tenga al menos la altura de la ventana del navegador */
  margin: 0;
  -webkit-box-shadow: 3px 3px 10px 3px #dddddd;
  -moz-box-shadow: 3px 3px 10px 3px #dddddd;
  box-shadow: 3px 3px 10px 3px #dddddd;
  font-size: xx-large;
}

main {
  max-width: 1200px;
  margin: 0 auto; /* Centra horizontalmente */
  padding: 40px; /* Agrega espacio alrededor del contenido */
  background-color: rgba(255, 255, 255, 0.767);
  color: #151718;
  border-radius: 0 0 0.5em 0.5em;
  border-color: #0c74b6 1px;

  h1 {
    color: #f3f3f3;
    text-align: center;
  }
}

/* ---- Tarjetas de estudio ----------*/

.sesión {
  background: #503ff1;
  margin: 30px 0 30px 0;
  padding: 0 40px 0 40px;
  border-radius: 1vw;
  border: 3px solid #a80cb6;
  font-weight: 700;
  color: #e8faf7;
}

.pda {
  overflow-x: auto;
  width: 100%;

  table {
    border-collapse: collapse;
    border: #56045e 3px solid;
  }

  table th,
  table td {
    border: 1px solid #ffff;
  }

  table tr:nth-child(n) {
    background: #e3c2eb;
  }

  table tr:nth-child(2n) {
    background: #eee;
  }
  table th {
    background: #570843;
    color: #eee;
  }

  table tr:hover {
    background: #ca9cd8;
    color: rgb(105, 9, 101);
  }
}

section h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.campo_lenguajes {
  background: #ffcdcd;
  margin: 20px 0 20px 0;
  padding: 0 20px 0 20px;
  border-radius: 1vw;
  border: 3px solid #ff6969;

  a {
    color: #503ff1;
  }
  a:hover {
    text-decoration: none;
  }
}

.campo_saberes {
  background: #bdeeff;
  margin: 20px 0 20px 0;
  padding: 0 20px 0 20px;
  border-radius: 1vw;
  border: 3px solid #0070c0;

  a {
    color: #503ff1;
  }
  a:hover {
    text-decoration: none;
  }
}

.campo_etica {
  background: #dcf0c6;
  margin: 20px 0 20px 0;
  padding: 0 20px 0 20px;
  border-radius: 1vw;
  border: 3px solid #00b050;

  a {
    color: #503ff1;
  }
  a:hover {
    text-decoration: none;
  }
}
.tarea {
  background: radial-gradient(circle at center, #ffe0b2, #ffa64d);
  border: 3px solid #ff8533;
  border-radius: 1vw;
  margin: 20px 0 20px 0;
  padding: 0 20px 0 20px;
}

.sesion {
  background: linear-gradient(to right, #b0f2c2, #abedc6, #a8e9ca, #a4e5ce);
  border: 3px solid #66cdaa;
  margin: 20px 0 20px 0;
  padding: 0 20px 0 20px;
  border-radius: 1vw;
  color: #02642e;
  font-weight: 700;
  div {
    column-count: 2;
    column-gap: 30%;
    margin-top: 15px;
    p {
      margin-top: 0px;
      margin-bottom: 0;
    }
  }
}

.introduccion {
  background: #f3f3f3;
  margin: 20px 0 20px 0;
  padding: 0 20px 0 20px;
  border-radius: 1vw;
  border: 3px solid #0c74b6;

  h2,
  h3,
  h4 {
    color: #2ca8e2;
  }

  table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
  }

  table th,
  table td {
    border: 1px solid #0c74b6;
    padding: 4px;
  }

  table tr:nth-child(n) {
    background: #cedbff;
  }

  table tr:nth-child(2n) {
    background: rgb(226, 248, 255);
  }
  table th {
    background: #3054f7;
    color: #eee;
  }

  table tr:hover {
    background: #ca9cd8;
    color: rgb(105, 9, 101);
  }
}

.lectura {
  background: rgb(226, 248, 255);
  margin: 20px 0 20px 0;
  padding: 0 20px 0 20px;
  border: 3px solid #0c74b6;
  border-radius: 1vw;

  h2 {
    color: #0b6299;
  }

  table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
  }
  table th,
  table td {
    border: 1px solid #0c74b6;
    padding: 4px;
  }

  table tr:nth-child(n) {
    background: #e3c2eb;
  }

  table tr:nth-child(2n) {
    background: rgb(226, 248, 255);
  }
  table th {
    background: #0c74b6;
    color: #eee;
  }

  table tr:hover {
    background: #ca9cd8;
    color: rgb(105, 9, 101);
  }
}

.actividad {
  background: rgb(255, 227, 236);
  margin: 20px 0 20px 0;
  padding: 10px 20px 0 20px;
  border-radius: 1vw;
  border: #f7307d 3px solid;

  h2 {
    color: #da2c6e;
  }

  table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
  }

  table th,
  table td {
    border: 1px solid #f7307d;
    padding: 4px;
  }

  table tr:nth-child(n) {
    background: #e3c2eb;
  }

  table tr:nth-child(2n) {
    background: rgb(226, 248, 255);
  }
  table th {
    background: #f7307d;
    color: #eee;
  }

  table tr:hover {
    background: #ca9cd8;
    color: rgb(105, 9, 101);
  }
}

.complemento {
  background: rgb(255, 241, 128);
  margin: 20px 0 20px 0;
  padding: 0 20px 0 20px;
  border: 3px solid #acebff;
  border-radius: 1vw;
  a {
    font-weight: 700;
    color: rgb(255, 153, 0);
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
    font-weight: 700;
  }
}

.grafica {
  max-width: 500px;
  overflow: hidden;
  background-color: #ffff;
  padding: 0 5px 5px 5px;
  margin: 15px auto;
  border: 2px solid navy;

  svg {
    flex-wrap: calc(50);
  }
}

.grafica:hover {
  border: 2px solid rgb(189, 27, 68);
}

.cierre {
  background: rgb(188, 245, 223);
  margin: 20px 0 20px 0;
  padding: 0 20px 0 20px;
  border-radius: 1vw;
  border: 3px solid #2dc58b;
}

figure {
  text-align: center;
  img {
    border: #570843 2px solid;
    border-radius: 5px;
  }
  figcaption {
    display: none;
  }
}

.video {
  text-align: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  border-radius: 5px;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

footer {
  text-align: center;
  font-size: 50%;
  color: burlywood;
}
